@charset "utf-8";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
  }
body {
/*カーソル*/
  cursor:default;

/*全体の指定*/
  margin: 0;
  padding: 0;
  font-family: cursive;
  background-image: url("../image/haikei2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 30px;
}
/**/

/*ホームのタイトル*/
.Toptitle{
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 100;
}
/*タイトル２*/
.title2{
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
}

/*ホームのリンク*/
.Toplink{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/**/

/*リンクアンダーライン*/
a {
  display: block;
  padding: 0 0 5px;
  text-decoration: none;
  color: #ffffff;
}
a::after {
  border-bottom: solid 4px #ffff00;
  bottom: 0;
  content: "";
  display: block;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}
a:hover::after {
  width: 100%;
}

/*ヘッダー*/
.header{
  width: 100%;
  padding: 0px 5% ;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background: #000000;
}
ul{
  list-style: none;
  margin: 0;
  display: flex;
}
li{
  margin: 0 0 0 15px;
  font-size: 30px;
  color: #fff;
}
h1{
  margin: 0;
  padding: 0;
  font-size: 50px;
  color: #fff;
}
/**/

li-1{
  margin: 0 0 0 40px;
  font-size: 50px;
    }

/*リンクナビ*/
.nav{
  margin: 0 0 0 auto;
}
/**/

/*アイコン*/
.icon{
  margin: 200px 60% 50px 40%;
}
/**/

/*プロフィール*/
.profile {
	margin: 16px 40px 30px 40px;
	text-align: center;
	display: block;
	background-color: #ffffffb5;
}
.profile .text {
	text-align: left;
	display: inline-block;
  font-family: serif;
}
/*スキルページ*/
.profile-program {
	margin: 16px 15% 30px 15%;
	text-align: center;
	display: block;
	background-color: #ffffffd5;
  padding-top: 20px;
  border-radius:20px 20px 20px 20px;
}
.prufile-program title{
  font-size: 30px;
}
.profile-program .text {
  margin-top: 0px;
	text-align: left;
	display: inline-block;
  font-family: serif;
}
/**/

/*スキル*/
.flex {
  display: flex;
  font-family: serif;
}
.flex .image {
  width: 600px;
  margin-top: 200px;
  padding: 0;
}
.flex .image img {
  width: 100%;
  height: auto;
}
.flex .right {
  margin: 0 0 0 20px;
  padding: 0;
}
.flex .title {
  margin-top: 200px;
  padding: 0;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
}
.flex .text {
  margin: 10px 0 0;
  padding: 0;
  color: #ffffff;
}
/**/

/*アンダーライン*/
.under{
  border-bottom: solid 2px rgb(255, 0, 0);
}

/*Worksページ*/
.works{
	margin: 200px 15% 30px 15%;
	text-align: center;
	display: block;
	background-color: #ffffffd5;
  padding-top: 20px;
  border-radius:20px 20px 20px 20px;
}
.works .title{
  font-size: 30px;
}
.works .text {
  margin-top: 0px;
	text-align: left;
	display: inline-block;
  font-family: serif;
}
.a-blue{
  color: blue;
}
/**/